body {
	background-image: url('images/logo.png');
	background-color: #0E0E1F;
	min-height: 100%;

}
.klok {
	position: relative;
	font-family: 'Roboto Mono', monospace;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #00FFFF;
	font-size: 30px;
	text-align: center;
	line-height: 40px;
	border: 3px solid #00FFFF;
	padding: 20px 25px 20px 25px;
	 text-shadow:1px 1px 25px #fff, 1px 1px 25px #00FFFF;

}
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
}
article {
	padding: 50px;
	margin: 0 auto;
}
.container{
	margin: 0 auto;
}
.logo {

	margin: 30px;
	width: 200px;
	height: 80px;
	display: flex;
	justify-content: center;
}

/*background*/
